#fa_toolbar{display:none!important}

/* Conteneurs des onglets */
.sujet-tabs {
 display: grid;
 grid-template-rows: repeat(2, max-content);
 grid-template-columns: repeat(30, minmax(min-content, auto));
 gap: 5px;
 margin: 0 auto;

 /* Ne pas retirer */
 & > br,
 input[name*="sujet-tab"] {display: none;}

 /* Onglet */
 label[for*="sujet-tab"] {
   grid-row: 1;
   display: block;
   text-transform: uppercase;
   color: #E39CAA!important;
   font-size: 12px;
   padding: 2px 5px!important;
   text-wrap: nowrap;
   cursor: pointer;
   top: 0;
   transition: all 0.10s;
 }

 /* Onglet au survol */
 label[for*="sujet-tab"]:hover {
   color: var(--contrast);
 }

 /* Onglet actif */
 input[name*="sujet-tab"]:checked + label[for*="sujet-tab"] {
   background: none!important;
    border-radius:0px!important;
   color: #EB873B!important;
    border-bottom:solid 2px #E2C7D6!important;
   transition: all 0.10s;
 }

  /* Contenu d'un onglet */
 .sujet-tab-content {
   grid-row: 2;
   grid-column: 1 / -1;
   z-index: 1;
   opacity: 0;
   transition: all 0.10s;
   background: transparent!important;
   border-radius: 0px !important;
     border:solid 1px var(--contour);
  padding:10px!important;
    max-height: 500px!important;
    overflow:auto!important;
 }

 /* Contenu d'un onglet actif */
 input[name*="sujet-tab"]:checked + label + .sujet-tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.10s;
 }
}

body .uwy #userwayAccessibilityIcon {
bottom: 0px !important;
    right: 5px !important;
    left: auto !important;
  top:600px;
  width:30px;
  height:30px;
  }

.uwy.userway_p1 .userway_buttons_wrapper{top:50px;}

d8{font-family:var(--font1);
text-transform:uppercase;
font-size:10px;
  font-weight:600;
letter-spacing:1px;
color:white;
background: #E19AAC;
background: linear-gradient(275deg, rgba(225, 154, 172, 1) 0%, rgba(238, 170, 149, 1) 100%);
padding:2px 4px;}
/*traduction*/
.original {border-bottom: 2px dotted var(--pink);}
.translate .original, .translate:hover .tslt {display: inline; }
.translate:hover .original, .translate .tslt {display: none; }

 /*tel*/
.to{font-size:11px;font-weight:light;margin-left:45px;border-bottom:solid 2px;width:250px;margin-top:0px;}
.sent{font-size:10px;font-weight:light;margin-left:40px;width:250px;margin-top:-1px;text-align:right;}
.mes{width:300px;text-align:left;background-color:white;border-radius:5px;font-size:12px;padding:10px;margin-top:5px;line-height:11px;}
/*tel*/
.ican{font-size:10px;
color:white;
padding-left:5px;
}

span.coloradmin{color:var(--neutralDark);}

#bookmark-popover .popover {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 65px;
    padding: 15px 45px 15px 15px;
    max-width: 100%;
    width: 400px;
    height: 400px;
}

.passport{background-size:cover;background-repeat: no-repeat;text-align:center;align-content:center;align-self: center;filter:grayscale(0%);width:500px;background-size:fit-content;}


play{background-color: var(--s3);
color:var(--s3t);
padding:4px 15px;
font-weight:lighter!important;
font-size: 11px;
font-family: inconsolata;
border-bottom:solid 2px #D6D3B4;}

.gridplay{display: grid;grid-template-columns: auto auto;grid-gap: 0px;text-align:left;align-items: start;width:480px;margin-top:15px;}
.imgplay{background-size:cover;background-repeat: no-repeat;text-align:center;align-content:center;align-self: center;filter:grayscale(0%);width:230px;height:350px;}
.playlist{background-color:var(--fondblanc);padding:10px 5px;width:250px;height:350px;overflow:auto;text-transform:inherit!important;}


/* Conteneur de tous les messages d'un sujet */
/* Cette class est ajouté par le script que si le sujet contient un élément <buton onglet=""> */
.page-tab {
    display: grid;
    grid-template-columns: max-content 1fr;
    /* transforme la structure du post en deux colonnes, la première pour les boutons, la deuxième pour les onglets */
    gap: 10px;
    margin-top: 10px;


    /* Supprime tous les éléments superflus comme les profils, la date, certains boutons d'édition...*/
    .post_profile,
    .post_date,
    .like_button,
    .btn-quote,
    li:has(.fa-mention),
    .btn-ip, .signature_div, .fa_like_list {
        display: none;
    }
}


/* Modification du message qui contient les onglets */
.page-tab .post:has(div[onglet]) {
    grid-row: 1;
    grid-column: 2;
    /* Positionne le post dans la deuxième colonne */
    display: none;
    /* Masque l'onglet par défaut */
}


/* Message en onglet qui est ouvert */
.page-tab .post:has(div[onglet]).active {
    display: block;
}


/* Masque les boutons d'édition lorsque l'option cochée */
.page-tab.clear .post_details {
    display: none;
}


.moodboard img{width:100px;
height:100px;
object-fit:cover;
border-radius:4px;
margin:3px;}

.moodboard img:hover{}

.moodboard{width:450px;
display:flex;
flex-wrap:wrap;
align-items:center;
padding:10px;}



/**-------carnet de bord---*/
.imgcarnet{width:140px;height:200px;object-fit:cover;}

psd2, s2, s2 a{font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans serif;
    text-transform: lowercase;
    color: #EB873B;
    font-weight: 600;
    border-bottom: solid 2px #EB873B;
    padding-bottom: -2px;
	margin-bottom:2px;
	font-style:none!important;}

.ccontact{}

.fichegrid2{display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 5px;
  text-align:justify;
  align-items: start;
  width:500px;}

.lieux{height:110px;
overflow:auto;}

.faic:hover{color:#DABF94;}

.bgcarnet{text-align: justify;
    background-color: var(--fondblanc);
padding: 10px;}

.bgliens{padding:15px;
border:solid 1px var(--contour);
