#fa_share_text, #fa_twitter, #fa_gp, #fa_rss, #fa_fb, #fa_magnifier,#fa_mail, #notif_list li .contentText, ul#notif_list, #fa_notifications, #fa_search {display:none !important;}
d8{font-family:var(--font1);
text-transform:uppercase;
font-size:10px;
  font-weight:600;
letter-spacing:1px;
color:white;
background: #E19AAC;
background: linear-gradient(275deg, rgba(225, 154, 172, 1) 0%, rgba(238, 170, 149, 1) 100%);
padding:2px 4px;}
/*traduction*/
.original {border-bottom: 2px dotted var(--pink);}
.translate .original, .translate:hover .tslt {display: inline; }
.translate:hover .original, .translate .tslt {display: none; }

 /*tel*/
.to{font-size:11px;font-weight:light;margin-left:45px;border-bottom:solid 2px;width:250px;margin-top:0px;}
.sent{font-size:10px;font-weight:light;margin-left:40px;width:250px;margin-top:-1px;text-align:right;}
.mes{width:300px;text-align:left;background-color:white;border-radius:5px;font-size:12px;padding:10px;margin-top:5px;line-height:11px;}
/*tel*/
.ican{font-size:10px;
color:white;
padding-left:5px;
}

span.coloradmin{color:var(--neutralDark);}

#bookmark-popover .popover {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 65px;
    padding: 15px 45px 15px 15px;
    max-width: 100%;
    width: 400px;
    height: 400px;
}

.passport{background-size:cover;background-repeat: no-repeat;text-align:center;align-content:center;align-self: center;filter:grayscale(0%);width:500px;background-size:fit-content;}


play{background-color: var(--s3);
color:var(--s3t);
padding:4px 15px;
font-weight:lighter!important;
font-size: 11px;
font-family: inconsolata;
border-bottom:solid 2px #D6D3B4;}

.gridplay{display: grid;grid-template-columns: auto auto;grid-gap: 0px;text-align:left;align-items: start;width:480px;margin-top:15px;}
.imgplay{background-size:cover;background-repeat: no-repeat;text-align:center;align-content:center;align-self: center;filter:grayscale(0%);width:230px;height:350px;}
.playlist{background-color:var(--fondblanc);padding:10px 5px;width:250px;height:350px;overflow:auto;text-transform:inherit!important;}


/* Conteneur de tous les messages d'un sujet */
/* Cette class est ajouté par le script que si le sujet contient un élément <buton onglet=""> */
.page-tab {
    display: grid;
    grid-template-columns: max-content 1fr;
    /* transforme la structure du post en deux colonnes, la première pour les boutons, la deuxième pour les onglets */
    gap: 10px;
    margin-top: 10px;


    /* Supprime tous les éléments superflus comme les profils, la date, certains boutons d'édition...*/
    .post_profile,
    .post_date,
    .like_button,
    .btn-quote,
    li:has(.fa-mention),
    .btn-ip, .signature_div, .fa_like_list {
        display: none;
    }
}


/* Modification du message qui contient les boutons */
.page-tab .post:has(button[onglet]) {background-color:transparent!important;
border:none!important;
    display: block;
    grid-row: 1;
    grid-column: 1;
    /* Positionne le post dans la première colonne */
    width: 290px;
	text-align:left;
	align-items: start;
margin-left:-20px;
    /* Largeur du sujet */
}

.ongletssujet{border-left:solid 1px var(--contour);
padding-left:10px;}

/* Bouton d'onglet */
button[onglet] {
    background-color: transparent;
    margin-bottom: 5px;
	font-family:'Poppins', sans serif;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	border-bottom:solid 2px #D6D3B4;
	padding: 4px 7px;
}


/* Bouton d'onglet cliqué */
button[onglet].active {
    background-color: var(--grisfonce);
	font-weight:600;
}


/* Modification du message qui contient les onglets */
.page-tab .post:has(div[onglet]) {
    grid-row: 1;
    grid-column: 2;
    /* Positionne le post dans la deuxième colonne */
    display: none;
    /* Masque l'onglet par défaut */
}


/* Message en onglet qui est ouvert */
.page-tab .post:has(div[onglet]).active {
    display: block;
}


/* Masque les boutons d'édition lorsque l'option cochée */
.page-tab.clear .post_details {
    display: none;
}


.moodboard img{width:100px;
height:100px;
object-fit:cover;
border-radius:4px;
margin:3px;}

.moodboard img:hover{}

.moodboard{width:450px;
display:flex;
flex-wrap:wrap;
align-items:center;
padding:10px;}



/**-------carnet de bord---*/
.imgcarnet{width:140px;height:200px;object-fit:cover;}

psd2, s2, s2 a{font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Poppins', sans serif;
    text-transform: lowercase;
    color: #EB873B;
    font-weight: 600;
    border-bottom: solid 2px #EB873B;
    padding-bottom: -2px;
	margin-bottom:2px;
	font-style:none!important;}

.fichegrid{display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1px;
  align-content:justify;
  text-align:justify;
  padding:10px;
  max-height:250px;
  overflow-y:auto;
  overflow-x:hidden;}

.grid1{border-right: 1px solid #D1D1D1;
padding-right:10px;}

.grid2{padding-left:10px;}

.ccontact{}

.fichegrid2{display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 5px;
  text-align:justify;
  align-items: start;
  width:500px;}

.lieux{height:110px;
overflow:auto;}

.faic:hover{color:#DABF94;}

.bgcarnet{text-align: justify;
    background-color: var(--fondblanc);
padding: 10px;}

.bgliens{padding:15px;
border:solid 1px var(--contour);
